
[LOCATION]

#LATITUDE=38.3663
#LONGITUDE=-75.15426
#NAME=Ocean Pines, MD

#LATITUDE=39.46694
#LONGITUDE=-77.40687
#NAME=Frederick, MD

#LATITUDE=39.080791
#LONGITUDE=-77.259262
#NAME=North Potomac, MD

#LATITUDE=39.16189
#LONGITUDE=-77.18515
#NAME=Gaithersburg, MD


[FEATURES]
RAM_PRICE=false
OSV_COUNT=false
OSV_TIDES=false
HOURLY_FORECAST=false
SUNTIME=false
POTOMAC=false

[GENERAL]
# Self update check interval (in seconds). Default: 6 hours.
SELF_UPDATE_INTERVAL_S=21600

[NFLSTATS]
API-KEY=
